<%- include('./partials/header.ejs', {title: "Not Found", nav_links:false}) %>
    <h2><%= statusCode %> <%= errorMessage %></h2>
    <p>Go back to <a href="/">Feed</a></p>
<%- include('./partials/footer.ejs') %>