<%- include('./partials/header.ejs', {title: "Login", nav_links:false}) %>
<div class="login">
  <h1>Login</h1>
  <%= message %>
  <p>Enter email to reset your passsword</p>
  <form action="/users/sendMail" method="POST">
    Email: <input type="text" class="email" name="email" /> <br />
    <button type="submit">Continue</button>
  </form>
  <p>Don't have an account? <a href="/users/signIn">Sign up</a></p>
  <%- include('./partials/footer.ejs') %>
</div>
