<%- include('./partials/header.ejs', {title: "Login", nav_links:false}) %>
<div class="login">
  <h1>Login</h1>
  <% if (error) { %>
    <h3 class="error-msg"><%= error %></h3>
  <% } %>
  <p>Enter passsword to set new password</p>
  <form action="/users/setPassword/<%= token %>" method="POST">
    Password: <input type="password" class="password" name="password" required/> <br />
    Confirm Password: <input type="password" class="password" name="confirmPassword" required/> <br />
    <button type="submit">Continue</button>
  </form>
  <p>Don't have an account? <a href="/users/signIn">Sign up</a></p>
  <%- include('./partials/footer.ejs') %>
</div>